i{
    color: #3d6cd1;
    cursor: pointer;
    font-size: 2em;
}
.unblock{
    margin-right: 10%;
    font-style: italic;
    font-size: small;
    color: silver;
}
.dropbtn {
    padding: 0;
    font-size: 0px;
    border: none;
    cursor: pointer;
    background-color: white;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  #fb{
    width:500px;
    border:1px solid gray;
    border-radius:5px;
    position:relative;
    height:175px;
  }
  #fb p{
    font-family:sans-serif;
    margin: 0 0 0 10px;
    line-height:30px;
  }
  
  #fb-top span{
    color:#4267B2;
    float:right;
    margin-right:10px;
  }
  #fb-top{
    background-color:#efefef;
    height:30px;
    width:500px;
    border-radius:5px 5px 0 0;
    position:absolute;
    top:-1px;
    left:-1px;
    border:1px solid gray;
  }
  
  #fb img{
    position:absolute;
    left:10px;
    top:52.5px;
  }
  
  #info{
    position:absolute;
    left:120px;
    top:75px;
  }
  
  #info {
    color:#4267B2;
    line-height:25px;
    font-size:18px;
  }
  
  #info span{
    color:#777;
    font-size:14px;
  }
  
  #button-block{
    position:absolute;
    right:10px;
    top:85px;
  }
  
  #button-block div{
    display:inline-block;
  }
  
  #confirm, #delete{
    background-color:#4267B2;
    color:white;
    padding:7px;
    border-radius:2px;
    margin-right:10px;
    font-family:sans-serif;
  }
  
  #delete{
    color:#222;
    background-color:#bbb;
    border:1px solid #999;
    padding:6px;
    margin-right:0;
  }
  
  #button-block div:hover{
    opacity:.8;
    cursor:pointer;
  }
  .not-req{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 10px;
  
  }
  .confirm{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #2b69ee;
    color: white;
  
  }
  
  .delete{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #2b69ee;
    background-color: white;
    color: #2b69ee;
  
  }
  