* {
    margin: 0;
    box-sizing: border-box;
  }
  
.logo-search img {
  height: 40px;
}

.profile-pic {
  border-radius: 50%;
  width: 45px;
}

.navbar {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.logo-search {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 50px;
  border-radius: 999px;
}

.search-input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h4 {
  margin-left: 10px;
}

.info {
  display: flex;
  align-items: center;
}

.info .material-icons {
  color: white;
  font-size:30px;
  padding: 5px;
  background-color: #2e5fc2;
  margin: 0 10px;
  border-radius: 15px;
}

.info .material-icons:hover {
  cursor: pointer;
}

@media (max-width: 640px) {
    .cover-photo {
      width:100%;
    }
}
.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .cover-photo{
    position: absolute;
    height: 300px;
    width: 100%;
    
}
  .image2 {
    position: absolute;
    top: 200px;
    left: 80px;
    width: 200px;
    height: 200px;
    border: 10px #4267B2 solid;
    border-radius: 200px;
  }

/* Create three equal columns that floats next to each other */
.info-column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
    margin-top: 5%;
  }
  .middle-col {
    float: left;
    width: 55%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
    margin-top: 5%;
  }
  .friends-col {
    float: left;
    width: 20%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
    margin-top: 5%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .first-element-info{
      margin-top: 20%;
      text-align: center;
  }
  .bio-text{
      margin: 5%;
      background-color: #eff2f5;
      border-radius: 10px;
      padding: 20px;
      text-justify:auto;
  }
  .bio{
      text-align: center;
      padding-bottom: 10px;
  }

.bio-icons{
    margin-top: 10%;
}
.middle-top{
    
    display: flex;
    text-align: center;
    justify-content: space-between;    
    margin-top: 0;
}

.panel span{
  color: silver;
  font-size:60px;
  padding: 5px;
  margin: 0 10px;
  border-radius: 15px;
}
.user-posts{
    
}