* {
    margin: 0;
    box-sizing: border-box;
  }
  
.logo-search img {
  height: 40px;
}

.profile-pic {
  border-radius: 50%;
  width: 45px;
}

.navbar {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.logo-search {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 50px;
  border-radius: 999px;
  width: 800px;
}

.search-input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  width: 800px;
  
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h4 {
  margin-left: 10px;
}

.info {
  display: flex;
  align-items: center;
}

.info .material-icons {
  color: white;
  font-size:30px;
  padding: 5px;
  background-color: #2e5fc2;
  margin: 0 10px;
  border-radius: 15px;
}

.info .material-icons:hover {
  cursor: pointer;
}

@media (max-width: 640px) {
    .cover-photo {
      width:100%;
    }
}

/* Create three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 20%;
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
  }
  .column2 {
    float: left;
    width: 80%;
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .profile-pic-large{
    
    width: 200px;
    height: 200px;
    border: 10px #4267B2 solid;
    border-radius: 200px;
  }
  .col1-content{
    text-align: center;
    margin-top: 10%;
  }
  .texts{
      margin: 5%;
  }
  .btn {
    padding: 10px;
    background-color: #2e5fc2;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: fit-content;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }