*{
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    background-color: #f0f2f5;
    margin: auto;
    
}
.mydiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1{
    width: 550px;
    text-align: center;
}
.h{
    font-size: 60px;
    margin-bottom: 5px;
    color: #1877f2;
}
.msg{
    font-size: 30px;
}
.form{
    background-color: #ffff;
    width: 420px;
    height:auto;
    margin-top: 10%;
    left: 55%;
    top: 20%;
    border-radius: 10px;
    box-shadow: 2px 2px 9px rgb(184, 184, 184),
                -1px -1px 5px rgb(184, 184, 184);
}
.material-icons{
    cursor: pointer
  }
  img{
    cursor: pointer;
}
.first{
    margin: 10px;
    margin-right: 0;
    margin-bottom: 5px;
    padding: 10px;
    width: 40%;
    background-color: #ffff;
    outline: none;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    font-size: 15px; 
      
}
.first:focus{
    border: 1px solid #1877f2;
    box-shadow: 1px 1px 1px #1877f2,
                -1px -1px 1px #1877f2;
}
.last{
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    padding: 10px;
    width: 40%;
    background-color: #ffff;
    outline: none;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    font-size: 15px; 
      
}
.last:focus{
    border: 1px solid #1877f2;
    box-shadow: 1px 1px 1px #1877f2,
                -1px -1px 1px #1877f2;
}

.input{
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 86%;
    background-color: #ffff;
    outline: none;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    font-size: 15px; 
    
}
.input:focus{
    border: 1px solid #1877f2;
    box-shadow: 1px 1px 1px #1877f2,
                -1px -1px 1px #1877f2;
}
.login-btn{
   
    margin: 10px ;
    padding: 15px;
    width: 91%;
    border-radius: 5px;
    background-color: #42b72a;
    color: #ffff;
    font-size: 20px;
    border: none;
    font-weight: bolder;

}
.label{
    margin: 10px;
    margin-right: 18%;
    margin-bottom: 5px;
    padding: 10px;
    width: 60%;
    background-color: #ffff;
   
    font-size: 16px; 
}

.radio{
    background-color: white;
    color: white;
}

.ca{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 95px;
    width: 50%;
    
    margin-bottom: 20px;
    padding: 15px;
    background-color: #1877f2;
    border-radius: 5px;
}
.create-btn{
    text-decoration: none;
    background: none;
    color: #ffff;
    font-weight: bolder;
    font-size: 17px;
    
}

.no-account{
    font-family: 'Questrial', sans-serif;
    color: rgb(26, 24, 24);
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    background-color: white;
}
.no{
    text-align: center;
    background-color: white;
    width: 100%;
    
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.name{
    background-color: white;
    border-radius: 10px;
}
.gen{
    background-color: white;
    margin: 5px;
}
#gen{
    margin-right: 26%;
}

#alert{
    background-color: #FC4F4F;
    padding: 10px 0 10px 0;
    margin: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.hidden{
    display: none;
}


button:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}